*.[oac]
*.rej
*.swp
*.out
*.log
*.la
*.lo
*~
*.deps/
*.libs/
Cbuild/
Xcode/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
doc/builtin.txt
doc/commands.txt
doc/config.txt
doc/config_changes.txt
doc/docbook-xsl.css
doc/gids.txt
doc/images.tgz
doc/options.txt
doc/version.txt
doc/snort_manual.chunked/
doc/snort_manual.html
doc/snort_manual.pdf
doc/snort_manual.tgz
doc/snort_manual.xml
extra/rule.xxd
extra/snort_examples-1.0.tar.gz
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
snort
snort.pc
src/snort
src/tags
src/target_based/sf_attribute_table.h
src/target_based/y.tab.c
src/test/suite_decl.h
src/test/suite_list.h
stamp-h1
tools/u2boat/u2boat
tools/u2spewfoo/u2spewfoo
ylwrap
