*.[oa]
*.deps/
*.la
*.libs/
*.lo
*.log
*.out
*.rej
*.swp
*.gcno
*.gcda
*.gcov
*.trs
*_test
*.Po
*~
._Xcode*
*.dirstamp
Cbuild/
Makefile
Makefile.in
Xcode*/
aclocal.m4
autom4te.cache/
automake*
compile
config.guess
config.h*
config.status
config.sub
configure
depcomp
doc/basic.txt
doc/builtin.txt
doc/codec.txt
doc/commands.txt
doc/config.txt
doc/counts.txt
doc/config_changes.txt
doc/connector.txt
doc/data.txt
doc/docbook-xsl.css
doc/gids.txt
doc/help.txt
doc/images.tgz
doc/inspector.txt
doc/ips_action.txt
doc/ips_option.txt
doc/logger.txt
doc/modules.txt
doc/options.txt
doc/plugins.txt
doc/search_engine.txt
doc/signals.txt
doc/snort2lua_cmds.txt
doc/snort_manual.chunked/
doc/snort_manual.chunked.tgz
doc/snort_manual.tgz
doc/snort_manual.xml
doc/version.txt
extra/rule.xxd
extra/snort_examples-1.0.tar.gz
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
snort
snort.pc
src/framework/api_options.h
src/framework/stamp-h2
src/managers/snort_plugin.lua
src/snort
src/tags
src/test/suite_decl.h
src/test/suite_list.h
stamp-h1
test-driver
tools/flatbuffers/fbstreamer
tools/snort2lua/snort2lua
tools/snort2lua/tags
tools/u2boat/u2boat
tools/u2spewfoo/u2spewfoo
GTAGS
GRTAGS
GPATH
HTML

# These are related to the build-scripts
alt/
install/
build.env
coverage.info
coverage.txt
src/uncovered.txt
