*.gcda
*.gcno
*.gcov
*.log
*.out
*.rej
*.swp
*.trs
*~
._Xcode*
.cache/
.vscode/
Cbuild/
Xcode*/
compile_commands.json
doc/basic.txt
doc/builtin.txt
doc/codec.txt
doc/commands.txt
doc/config.txt
doc/config_changes.txt
doc/connector.txt
doc/counts.txt
doc/data.txt
doc/docbook-xsl.css
doc/gids.txt
doc/help.txt
doc/images.tgz
doc/inspector.txt
doc/ips_action.txt
doc/ips_option.txt
doc/logger.txt
doc/modules.txt
doc/options.txt
doc/plugins.txt
doc/search_engine.txt
doc/signals.txt
doc/snort2lua_cmds.txt
doc/snort_manual.chunked.tgz
doc/snort_manual.chunked/
doc/snort_manual.tgz
doc/snort_manual.xml
doc/version.txt
extra/rule.xxd
extra/snort_examples-1.0.tar.gz
snort.pc
src/framework/api_options.h
GPATH
GRTAGS
GTAGS
HTML

# These are related to the build-scripts
alt/
install/
build.env
coverage.info
coverage.txt
src/uncovered.txt
build/

# vscode config
snort3.code-workspace

